
.audit-table {
    background: #ffffff;
    width: 100%;
    border-collapse: collapse;
    border: 5px solid #ffffff;
}

.audit-table thead th {
    background: rgb(228, 228, 228);
    color: black;
    padding: 0;
    margin: 0;
    border: none;
}

.audit-table tbody td {
    border-bottom: 1px solid rgb(221, 221, 221);
    color: #000;

}

.audit-table tbody td.actions {
    display: flex;
}

.audit-table tbody td.actions button {
    margin: 0 5px;
}
