.Modal {
  position: absolute;
  right: -540px;
  bottom: 0;
  width: 540px;
  height: 100%;
  background-color: white;
  box-shadow: 0 1px 24px rgba(0,0,0,0.4);
}

.Modal:focus {
  outline: none;
}

.Modal__Content {
  height: 100%;
  margin-bottom: 20px;
  padding: 30px;
  overflow-y: auto;
  background: #f1f1f1;
}

.Modal__Overlay {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Modal__Overlay:after {
  display: block;
  opacity: 0;
  z-index: 1;
  height: 100%;
  content: '';
  background-color: #000;
  transition: opacity 300ms linear;
}

.Modal__Header {
  height: 48px;
  padding: 0 30px;
  color: white;
  line-height: 48px;
  text-transform: capitalize;
  background-color: var(--darkBlack);
}


/*
 * Animations
 */
.ReactModal__Overlay--after-open.Modal__Overlay:after {
  opacity: 0.17;
}

.ReactModal__Overlay--before-close.Modal__Overlay:after {
  opacity: 0;
}

.Modal__Overlay .ReactModal__Content {
  transition: transform 300ms ease;
  transform: translateX(0);
  z-index: 9;
}

.Modal__Overlay .ReactModal__Content--after-open {
  transform: translateX(-540px);
}

.Modal__Overlay .ReactModal__Content--before-close {
  transform: translateX(0);
}
