.ReadOnly {
  &__Field {
    line-height: 34px;
    padding: 0 10px;
    color: var(--lightBlack);
    background-color: var(--grey200);
  }

  &__Note {
    font-size: 12px;
    margin-top: 4px;
    color: var(--grey500);
  }
}
